@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 3px;
  height: 0px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #dbdbdb;
}
::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}

@font-face {
  font-family: rightous;
  src: url("../public/fonts/rightous.ttf");
}
.logo {
  font-family: rightous !important;
}
.hero-title {
  font-family: rightous !important;
}
.create-account-button {
  box-shadow: 6px 6px 0px 0px #de1a72;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.modal-bg-overlay {
  background: #00000091 !important;
}
.modal-bg-content {
  background: white !important;
  border-radius: 10px !important;
  padding: 20px !important;
  height: 450px;
  overflow: auto;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #ec4899 !important;
  border-color: #ec4899 !important;
}
